* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
  background-color: #0020F4;
  height: 1080px;
}
.div-titlle{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 40px;
  align-items: center;
}
header nav a {
  color: #FFFFFF;
  font-size: 16px;
  margin: 18px;
  font-family: HelveticaNeue;
}
nav,nav ul, nav li {
  display: flex;
  align-items: center;
}
a{
  text-decoration: 0;
}
ul{
 list-style: 0;
}
.contact-title{
  display: flex;
  vertical-align: middle;
  padding:19px 81px;
  color: #171717;
  background-color:#FFFFFF;
  border-radius:28px;
  font-size: 16px;
  font-family: HelveticaNeueBold;
}
.header-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 115px;
}
.left{
  margin-right: 25px;
  margin-top: 65px;
  }
.right{
  
}
.point{
  color: #FFFFFF;
  font-size: 50px;
}
main {
    padding-top: 180px;
}
.first-section {
    display: flex;
    justify-content: center;
}
.first-section-left {
    max-width: 385px;
}
.section-title {
    font-family: HelveticaNeueBold;
    color: #171717;
    font-size: 32px;
    margin-bottom: 60px;
}
.section-paragraph {
    margin-bottom: 22px;
}
.section-paragraph {
    font-family: HelveticaNeue;
    font-size: 16px;
    color: #171717;
}
.section-paragraph a {
    text-decoration: none;
    color: #0a22f4;
}
.first-section-right {
    width: 707px;
    height: 707px;
    margin-right: 133px;
}
.first-section-image {
    width: 100%;
    max-width: 707px;
    margin-top: 220px;
    margin-left: 137px;
    border-radius: 15px;
    box-shadow: 15px 15px #0a22f4;
}
.second-section {
    display: flex;
    justify-content: center;
    margin-top: 394px;
}
.second-section-left {
    width: 707px;
    height: 707px;
}
.second-section-image {
    width: 100%;
    max-width: 707px;
    margin-top: 220px;
    border-radius: 15px;
    box-shadow: -15px 15px #0a22f4;
}
.second-section-right {
    width: 385px;
    margin-left: 138px;
    margin-right: 133px;
}

