* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */

/* Main */
main {
    padding-top: 180px;
}
.first-section {
    display: flex;
    justify-content: center;
}
.first-section-left {
    max-width: 385px;
}
.section-title {
    font-family: "HelveticaNeueBold";
    color: #171717;
    font-size: 32px;
    margin-bottom: 60px;
}
.section-paragraph {
    margin-bottom: 22px;
}
.section-paragraph {
    font-family: "HelveticaNeue";
    font-size: 16px;
    color: #171717;
}
.section-paragraph a {
    text-decoration: none;
    color: #0a22f4;
}
.first-section-right {
    width: 707px;
    height: 707px;
    margin-right: 133px;
}
.first-section-image {
    width: 100%;
    max-width: 707px;
    margin-top: 220px;
    margin-left: 137px;
    border-radius: 15px;
    box-shadow: 15px 15px #0a22f4;
}
.second-section {
    display: flex;
    justify-content: center;
    margin-top: 394px;
}
.second-section-left {
    width: 707px;
    height: 707px;
}
.second-section-image {
    width: 100%;
    max-width: 707px;
    margin-top: 220px;
    border-radius: 15px;
    box-shadow: -15px 15px #0a22f4;
}
.second-section-right {
    width: 385px;
    margin-left: 138px;
    margin-right: 133px;
}
.carousel {
    margin-top: 394px;
}
.carousel-header {
    width: 100%;
    height: 308px;
    background-color: #0a22f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 40px;
    padding-top: 70px;
}
.circles {
    display: flex;
}
.circle {
    padding: 5px;
    background: #ffffff;
    border-radius: 100%;
    margin: 20px;
}
.tr {
    opacity: 0.3;
}
.carousel-title h2 {
    color: #ffffff;
    font-family: "HelveticaNeueBold";
    font-size: 32px;
}
.carousel-image {
    display: flex;
    margin-top: 30px;
}
.secondary {
    margin-top: 80px;
}
.positioning {
    max-height: 420px;
    position: relative;
}
.positioning-main {
    max-height: 510px;
    position: relative;
}
.secondary-image {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 443px;
    padding: 30px 80px 30px 30px;
    background: #ffffff;
    border-radius: 12px;
    color: #171717;
    font-size: 18px;
    font-family: "HelveticaNeue";
    opacity: 0.9;
}
.current-image {
    position: absolute;
    left: 55px;
    bottom: 65px;
    width: 443px;
    padding: 30px 80px 30px 30px;
    background: #ffffff;
    border-radius: 12px;
    color: #171717;
    font-size: 18px;
    font-family: "HelveticaNeue";
    opacity: 0.9;
}
/* Footer */
